<div class="main">
  <div class="profile">
    <div class="row center-xs">
      <div class="col-xs">
        <img
          src="https://pbs.twimg.com/profile_images/1234364449630248961/W0QdpyS-_400x400.jpg"
          alt="profile image"
          id="profile-image"
        />
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs">
        <h1>Ashishkumar Vishwakarma</h1>
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs">
        <h3>Software Engineer</h3>
      </div>
    </div>

    <div class="separator"></div>

    <div class="social-connect">
      <div class="row center-xs">
        <div class="col-xs">
          <a target="_blank" href="https://twitter.com/dev_ashishkumar">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-xs">
          <a href="https://www.instagram.com/dev_ashishkumar/" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-xs">
          <a target="_blank" href="https://linkedin.com/in/ashishkumarv3">
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-xs">
          <a target="_blank" href="https://github.com/codecasm">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-xs">
          <a href="https://www.codecasm.com/" target="_blank">
            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="skills">
    <h2 class="skills-question">What do I know ?</h2>
    <div class="skills-card">
      <h3 class="skills-title">FrontEnd</h3>
      <div class="row center-xs">
        <div class="col-xs">
          <i class="icons devicon-html5-plain colored"></i>
          <p>HTML5</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-css3-plain colored"></i>
          <p>CSS3</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-bootstrap-plain colored"></i>
          <p>Bootstrap</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-javascript-plain colored"></i>
          <p>JavaScript</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-typescript-plain colored"></i>
          <p>TypeScript</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-angularjs-plain colored"></i>
          <p>Angular</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-react-plain colored"></i>
          <p>React</p>
        </div>
      </div>
    </div>

    <div class="skills-card">
      <h3 class="skills-title">BackEnd</h3>
      <div class="row center-xs">
        <div class="col-xs">
          <i class="icons devicon-nodejs-plain colored"></i>
          <p>NodeJS</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-php-plain colored"></i>
          <p>PHP</p>
        </div>
      </div>
    </div>

    <div class="skills-card">
      <h3 class="skills-title">Database</h3>
      <div class="row center-xs">
        <div class="col-xs">
          <i class="icons devicon-mongodb-plain colored"></i>
          <p>MongoDB</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-mysql-plain colored"></i>
          <p>MySQL</p>
        </div>
      </div>
    </div>

    <div class="skills-card">
      <h3 class="skills-title">Version control systems</h3>
      <div class="row center-xs">
        <div class="col-xs">
          <i class="icons devicon-git-plain colored"></i>
          <p>Git</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-github-plain colored"></i>
          <p>Github</p>
        </div>
        <div class="col-xs">
          <i class="icons devicon-bitbucket-plain colored"></i>
          <p>Bitbucket</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>
      Made with <span>&hearts;</span> | Template by <a href="https://codecasm.com" target="_blank">CodeCasm</a>
    </p>
  </div>
</div>
